@model CharacterCreator.Models.Character

<p class="text-danger">If you enter the wrong account password, your character will be submitted as anonymous.</p>
<span class="text-danger">@ViewBag.ErrorMessage</span>

<form asp-action="NewChar" asp-controller="Home" method="post">
    <div class="form-group">
        <label>Name:</label>
        <input asp-for="Name" class="form-control p-3" required /><br />
    </div>
    <div class="form-group">
        <label>Backstory:</label>
        <input asp-for="Backstory" class="form-control p-3" rows="3" required /><br />
    </div>
    <div class="form-group">
        <label>Motivation:</label>
        <input asp-for="Motivation" class="form-control p-3"  /><br />
    </div>
    <div class="form-group">
        <label>Moral Alignment:</label>
        <input asp-for="MoralAlignment" class="form-control p-3"  /><br />
    </div>
    <div class="form-group">
        <label>Height(cm):</label>
        <input type="number" asp-for="Height" class="form-control p-3" required /><br />
    </div>
    <div class="form-group">
        <label>Weight(kg):</label>
        <input type="number" asp-for="Weight" class="form-control p-3" required /><br />
    </div>
    <div class="form-group">
        <label>Physical Description:</label>
        <input asp-for="PhysicalDescription" class="form-control p-3"  /><br />
    </div>
    <div class="form-group">
        <label>Username(Can submit as anonymous):</label>
        <input asp-for="Account.Username" class="form-control p-3" /><br />
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input asp-for="Account.Password" class="form-control p-3" /><br />
    </div>
    <input type="submit" value="Submit Story" class="btn btn-danger" />
</form>